@{
    ViewBag.Title = "Login";
}
<style type="text/css">
.form-signin {
    max-width: 220px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;/*#7a7a7a*/
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $.validate({
            form: '#formLogin',
            validateOnBlur: false,
            showHelpOnFocus: false,
            addSuggestions: false
        });

        @if (TempData["noty"] != null)
        {
            <text>
            noty({
                text: '@TempData["noty"].ToString()',
                type: 'warning',
                layout: 'topCenter',
                timeout: 8000
            });
            </text>
        }
    });
</script>

<form id="formLogin" class="form-signin" action="@Url.Action("Login", "Home")" method="post">
    <h3 class="form-signin-heading">LOGIN</h3>
    <input type="text" id="username" name="username" class="input-block-level" placeholder="Username" data-validation="length alphanumeric" data-validation-length="3-15">
    <input type="password" id="password" name="password" class="input-block-level" placeholder="Password" data-validation="required">
    <button class="btn btn-large btn-block btn-inverse" type="submit">Login</button>
</form>
